.Text {
    background-color: #060a18;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(243, 69, 0);
    padding-bottom: 0;
    font-size: 30px;
}

.Description {
    font-family: monospace;
    width: 800px;
}

/* Display Image Text Container */

.container {
    display: flex;
    align-items: center;
    justify-content: center
}
  
img {
    max-width: 100%
}
  
.image {
    flex-basis: 40%
}
  
.text {
    font-size: 28px;
    padding-left: 20px;
    padding-right: 20px;
}

.rcorners1 {
    border-radius: 25px;
    width: 500;
    height: 515px;
    padding-bottom: 15px;
}

/* End of Display Image Text */

/* Start of Typing Effects */

.css-fix {
  white-space: pre-wrap; /* or pre-line */
}

.typed-cursor {
  opacity: 0;
}

/* End of cursor + typing */