.Text-Distribution {
    background-color: #060a18;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(243, 69, 0);
    padding-bottom: 0;
}

.Header {
    font-size: 30px;
}

/* Display Image Text Container */

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
img {
    max-width: 100%
}
  
.image {
    flex-basis: 40%
}
  
.text {
    font-size: 28px;
    padding-left: 20px;
    padding-right: 20px;
}

.rcorners2 {
    border-radius: 25px;
    width: 500px;
    height: 515px;
    padding-bottom: 15px;
}

/* End of Display Image Text */

.Distribution {
    background-color: rgb(2, 76, 68);
    margin: 30px;
    color: white;
    text-align: center;
    font-family: monospace;
}

.Royalties {
    background-color: rgb(87, 5, 61);
    color: white;
    text-align: center;
    font-family: monospace;
}

.Art {
    background-color: rgb(29, 33, 86);
    margin: 30px;
    color: white;
    text-align: center;
    font-family: monospace;
}

.Team {
    background-color: rgb(110, 70, 31);
    color: white;
    text-align: center;
    font-family: monospace;
}
