.Text-Distribution {
    background-color: #060a18;
    min-height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(243, 69, 0);
    padding-bottom: 0;
}

.Header {
    font-size: 30px;
}

li {
    padding: 15px;
    color: white;
}

